body{
    margin: 0px;
    background-color: #546aab;
    background-repeat: no-repeat;
    background-size: cover;
}

.title{
    padding: 10px;
    text-align: center;
    color: rgb(0, 0, 0);
    font-size: 50px
}


h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
}

.post-container{
    width: 70%;
    height: 100%;
    margin: 0px auto 0px auto;
    background-color: #c89696;
}

.post-container .date{
    font-family: 'Roboto', sans-serif;
    color: #008080;
}

.post-content{
    width: 90%;
    font-family: 'Open Sans', sans-serif;
    font-weight: normal;
}

.post{
    margin-bottom: 50px;
    padding-top: 30px;
    padding-left: 50px
}

p{
    text-align: justify;
}

